.photoarea {
	padding: 10px;
	min-width: 230px;
	float: right;
	background-color: #D7E0F5;
	display: inline-block;
	width: 100%;
	margin: 5px;
	text-align: center;
	vertical-align: top;
}

.photoarea h3{
    cursor: move;
    padding-bottom: 10px;
    border-bottom: 1px solid #1abc9c;
}

.img-circle {
	border-radius: 50%;
	width: 120px;
 	height: 120px;
 	padding: 5px;
}

#droppierre, #dropnatasha, #dropandrei {
  padding: 10px;
  min-width: 270px;
  display: inline-block;
  border: 1px dashed #f60;
  min-height: 150px;
  margin: 5px;
  text-align: center;
}

#droppierre, #dropnatasha, #dropandrei h6 {
	color: #ddd;
	text-align: center;
}